<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">

    <f:if condition="{settings.assistantId}">
      <f:then>
        <f:if condition="{settings.pluginType} == 'fullsize'">
          <f:then>
            <f:render partial="Message/FullSizeChat" arguments="{settings: settings}" />
          </f:then>
          <f:else>
            <f:render partial="Message/MinifiedChat" arguments="{settings: settings}" />
          </f:else>
        </f:if>
      </f:then>
      <f:else>
        <h1>Assistant id missing. Please set one in the plugin's configuration</h1>
      </f:else>
    </f:if>
</f:section>
</html>